h1 {
    text-align: center;
    padding: 20px;
    font-size: 32px;
    color: rgb(23, 105, 77);
}

h2 {
    text-align: center;
    padding-bottom: 10px;
    font-size: 20px;
    color: rgb(30, 23, 105);
}